__pycache__/*
datasets/50salads/*
datasets/breakfast/*
save_dir/*
data/__pycache__/*
datasets/breakfast/mapping.txt
model/__pycache__/*
model/extras/__pycache__/*
datasets/ek55/**
bf_tsn_log.txt
50s_tsn_log.txt
ek55_tsn_log.txt
